@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Vazirmatn:wght@100..900&display=swap');
@import url('../../fonts/IRANSansWeb/IRANSansWeb.ttf');

.lr-wrap {
    font-family: "IRANSansWeb", "Vazirmatn", Tahoma, Arial, sans-serif !important;
    max-width: 100%;
    margin: 25px 5px 25px 25px;
    padding: 25px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;


}

.lr-wrap h1, .lr-wrap h2, .lr-wrap h3, .lr-wrap h4, .lr-wrap h5, .lr-wrap h6 {
    font-family: "IRANSansWeb", "Vazirmatn", Tahoma, Arial, sans-serif !important;
}

.lr-form-field {
    margin: 0 20px;
}

.lr-form-field input {
    margin-bottom: 8px;

}
.lr-form-field input:focus {
    border-color: #0093E9 !important;
    box-shadow: 0 0 0 1px #0093E9 !important;
    outline: 2px solid transparent!important;
}
.lr-description {
    margin-top: 8px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
}
.lr-description.lr-important {
    color: #d63638;

}

.lr-welcome-panel {
    margin: 1em 0 2em;
}

.lr-welcome-panel-content {
    padding-top: 20px;
}

.lr-about-description {
    font-size: 16px;
    margin: 1em 0;
}

.lr-submit-wrapper {
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.lr-submit-wrapper input {
    min-height: 42px !important;
    line-height: 2.307692 !important;
    padding: 0px 40px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    font-size: 16px !important;

    background-color: #0093E9 !important;
    background-image: linear-gradient(160deg, #0093E9 0%, #0093E9 100%) !important;

    border: none !important;
    color: #fff !important;
    border-radius: 5px !important;
    transition: all ease-in-out 0.2s;

    outline: none!important;
}
.lr-submit-wrapper input:hover {
    transform: translateY(-2%);
    border: none!important;
    outline: none!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}
.lr-submit-wrapper input:focus {
    border: none!important;
    outline: none!important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset!important;

}

